/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
api_bluefy-*.tar

# Visual Studio Code
/.elixir_ls/

# Claude Code
/.claude/settings.local.json

# Xcribe generated specification file
/.xcribe.exs

# ExUnit tmp_dir
/tmp/
