FORMAT: 1A
HOST: http://my-api.com

# Basic API
The description of the API

## Group API
## Users Posts [/users/{usersId}/posts/]
+ Parameters

    + usersId: `1` (required, string) - The users id

### Users Posts show [GET /users/{usersId}/posts/{id}/]
+ Parameters

    + id: `2` (required, string) - The id

+ Request get all user posts (text/plain)
    + Headers

            authorization: token

+ Response 200 (application/json)
    + Headers

            cache-control: max-age=0, private, must-revalidate

    + Body

            {
              "id": 1,
              "title": "user 1"
            }
## Users [/users/]
### Users create [POST /users/]
+ Request create an user (application/json)
    + Headers

            authorization: token

    + Attributes

        + age: `5` (number) - The age
        + name: `teste` (string) - The name

    + Body

            {
              "age": 5,
              "name": "teste"
            }
+ Response 201 (application/json)
    + Headers

            cache-control: max-age=0, private, must-revalidate

    + Body

            {
              "age": 5,
              "name": "teste"
            }
### Users index [GET /users/]
+ Request get all users (text/plain)
    + Headers

            authorization: token

+ Response 200 (application/json)
    + Headers

            cache-control: max-age=0, private, must-revalidate

    + Body

            [
              {
                "id": 1,
                "name": "user 1"
              },
              {
                "id": 2,
                "name": "user 2"
              }
            ]
## Group MONITORING
## Monitoring [/monitoring/]
### Monitoring index [GET /monitoring/]
+ Request get monitoring info (text/plain)
    + Headers

            authorization: token

+ Response 200 (application/json)
    + Body

            [
              {
                "status": "ok"
              }
            ]
